* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-Regular.woff2);
}
body {
    
    background-color: #222;
}

/* Card section */
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.card .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 60px;
    border-radius: 30px;
    flex-grow: 1;
    margin-right: 16px;
    font-size: 18px;
}
.card .search button {
        border: 0;
        outline: 0;
        background-color: #ebfffc;
        border-radius: 50%;
        cursor: pointer;
        width: 60px;
        height: 60px;
}
.card .search button i {
    font-size: 2rem;
}


/* End Card Section */

/* Weather section */
.weather {
    max-width: 100%;
    margin-top: 3%;
    margin: 3% auto;
}
.weather img {
    width: 100px;
}

.weather .weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather  h1 {
    font-size: 3em;
    font-weight: 500;

}
.weather  h2 {
    font-size: 1.5em;
    font-weight: 400;
}
.weather .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 50px 0 0 0;
}
.weather .details .col {
    display: flex;
    align-items: center;
    text-align: center;
}

.col img {
    width: 40px;
    /* width: 30%; */
    margin-right: 10px;
}
.humidity , .wind {
    font-size: 1.2em;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin: 10px 0 0 10px;
    font-size: 14px;
    color: rgb(170, 1, 1);
    font-weight: 800;
    display: none;
}

/* Styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #ff6347;
}